{% extends 'base.html' %}
{% block title %}
	my shopping cart
{% endblock %}
{% block content %}
	<h2>My Cart</h2>
    
    {% if cart %}
    	<ul>
        {% for item in cart.items.all %}
        <li class="flex items-center p-4">
        {% if item.product.image %}
<img
  src="{{ item.product.image.url }}"
  alt="{{ item.product.name }}"
  class="w-full md:w-1/2 lg:w-1/3 h-auto object-cover"
>
        {% endif %}
        <div class="flex-grow">
            <a href="{% url 'product_detail' item.product.id item.product.slug %}">
           <h3 class="font-semibold text-lg "    > {{ item.product.name }}</h3>
            </a>
            <p class="text-grey-700">{{ item.product.description }}</p>
            <p class="text-indigo-600">${{ item.product.price }}</p>
            <p class="text-grey-600">Quantity:{{ item.quantity }}</p>
            <div class="flex-shrink">
                <form action="{% url 'cart:cart_remove' item.id  %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="bg-red-600 text-white px-4 py-1 text-xs rounded ">X</button>
                </form>
            </div>
            </div>
        </li>
        {% endfor %}
        </ul>
        <p class="tex-emerald-700"><strong>the total price is ${{ cart.get_total_price }}</strong></p>
        {% else %}
        <p class="text-red-700">Your cart is empty</p>
    {% endif %} 
{% endblock %}