repos:
- repo: https://github.com/PyCQA/bandit
  rev: 1.7.9
  hooks:
    - id: bandit
      name: bandit (project apps only)
      pass_filenames: false           # â† IMPORTANT
      args:
        - -r
        # scan ONLY your code dirs
        - Rahim_Online_ClothesStore
        - apis
        - cart
        - orders
        - payments
        - users
        - product_app
        - inventory
        - vendor_app
        - Mpesa
        - assistant
        - utilities
        # exclude common noise and tests
        - -x
        - venv,node_modules,staticfiles,**/migrations/**,**/tests/**,**/site-packages/**,frontend,extensions,static,static/vendor
      exclude: >
        (?x)(
          ^venv/|
          ^node_modules/|
          ^staticfiles/|
          ^static/|
          ^frontend/|
          .*/migrations/|
          .*/tests/|
          .*/site-packages/
        )
