{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Tailwind CDN -->
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-50">

<div class="min-h-screen flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
  <div class="w-full max-w-md space-y-8">
    <div class="text-center">
      <h3 class="text-3xl font-bold text-gray-900">Register</h3>
    </div>

    <div class="bg-white shadow-lg rounded-lg p-6 sm:p-8 space-y-6">
      <form class="space-y-6" action="" method="post">
        {% csrf_token %}

        {% if form.non_field_errors %}
          <p class="text-red-500 text-sm">{{ form.non_field_errors }}</p>
        {% endif %}

        {% for field in form %}
        <div>
          <label class="block text-sm font-medium text-gray-700 mb-2">
            {{ field.label }}
            {% if field.errors %}
              <p class="text-red-500">{{ field.errors|striptags }}</p>
            {% endif %}
          </label>
          {{ field }}
        </div>
        {% endfor %}

        <button type="submit" class="w-full flex justify-center bg-blue-600 hover:bg-blue-700 text-white px-4 py-2 rounded-md transition-colors focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2">
          Register
        </button>
      </form>

      <div class="text-center">
        <a href="{% url 'users:login' %}" class="text-blue-500 font-semibold hover:text-blue-600 transition-colors duration-300 hover:underline hover:underline-offset-4 decoration-2 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 rounded-lg">
          Already have an account?
        </a>
      </div>
       <div class="text-center">
        <a href="{% url 'users:resend_activation' %}" class="text-blue-500 font-semibold hover:text-blue-600 transition-colors duration-300 hover:underline hover:underline-offset-4 decoration-2 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 rounded-lg">
         Didn't receive the email? Resend activation
        </a>
      </div>
    </div>
  </div>
</div>

</body>
</html>
