{% extends 'base.html' %}
{% block title %}
login
{% endblock %}
{% block content %}
<h3>login</h3>
      <div class="min-h-screen flex items-center justify-center bg-grey-100 py-50 py-12 px-4 sm:px-6 lg:px-8">

    <form action="" method="post">
    {% csrf_token %}
    {{ form }}
    <button class="bg-blue-600 hover:bg-blue-700 text-white px-4 py-2 rounded transition-colors focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2">
  Register
</button>
    </form>
      </div>
{% endblock %}