{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
<script src="https://cdn.tailwindcss.com"></script>
    <style type="text/tailwindcss">
      @theme {
        --color-clifford: #da373d;
      }
    </style>
    <link href="{% static 'dist/styles.css' %}" rel="stylesheet">
    <title>
        {% block title %}
        	homepage
        {% endblock %}
    </title>
</head>
<body class="bg-gray-200 text-grey-800 flex flex-col min-h-screen">
<header class="header shadow-md">
    {% include 'includes/nav.html' %}
</header >

<main class="container mx-auto py-8 flex-grow" >
{% block content%}


{% endblock %}
</main>
<footer>
		{% include 'includes/footer.html' %}
		</footer>
</body>
</html>