{% extends "base.html" %}
{% load static %}
{% block content %}
<h2>Order {{ order.id }} Tracking</h2>
<div id="status">{% if delivery %}{{ delivery.status }}{% endif %}</div>
<div id="map" style="height: 400px;"></div>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"></script>
<script>
window.__ROUTE_CTX__ = {{ route_ctx|safe }};
</script>
<script src="{% static 'js/tracking-route.js' %}"></script>
{% endblock %}

