{% extends 'base.html' %}
{% block title %}
listings of products
{% endblock %}
{%block content%}
<div class="container mx-auto p-4 flex">
 <aside class="w-3/4 p-4">
        <h2 class="font-bold">Categories:</h2>
        <ul>
            {%for category in categories%}
            <li>
            <a href="{% url 'product_list_by_category' category.slug %}">{{ category.name }}</a>
            </li>

            {%endfor%}


        </ul>
 </aside>
<main class="w-3/4 p-4 ">
   {% if category  %}
   	 <h2 class="font-bold mb-4">{{ category.name }}</h2>
   {% endif %}

</main>
 </div>
{% endblock %}